.porto-custom-scroll {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--porto-scrollbar-handle-clr);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--porto-scrollbar-bg);
  }
}
